@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');



:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--Cream);
}

main {
    width: 100%;
    min-height: 96vh;
    display: grid;
    gap: 0px;
}

.card {
    width: 600px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.card .box1 img {
    width: 300px;
    height: 450px;
    border-radius: 10px 0px 0px 10px;
}

.card .box2 {
    background-color: var(--White);
    border-radius: 0px 10px 10px 0px;
}

.card .box2 h2 {
    font-size: 12px;
    color: var(--Dark-grayish-blue);
    text-transform: uppercase;
    padding: 32px 32px 0px 32px;
    letter-spacing: 5px;

}
.card .box2 h1 {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--Very-dark-blue);
    padding: 0px 32px 0px 32px;
}

.card .box2 p {
    font-size: 14px;
    color: var(--Dark-grayish-blue);
    padding: 0px 32px 0px 32px;
    line-height: 23px;
}

.card .box2 .prices {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card .box2 div .price {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: bold;
    color: var(--Dark-cyan);
    padding: 0px 10px 0px 32px;
}
.card .box2 div .old_price {
    font-family: 'Fraunces', serif;
    font-size: 13px;
    font-weight: lighter;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}
.card .box2 .button {
    width: 236px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--Dark-cyan);
    margin: 15px auto;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: var(--White);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.card .box2 .button:hover {
    width: 236px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--Very-dark-blue);
    margin: 15px auto;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: var(--White);
}

.card .box2 .button img {
    width: 16px;
    height: 16px;
    margin-right: 0.5rem;

}

@media (max-width: 450px) {

    .card {
        width: 343px;
        height: 611px;
        flex-direction: column;
    }
    .card .box1 img {
        width: 343px;
        height: 240px;
        border-radius: 10px 10px 0px 0px;
    }
    .card .box2 {
        border-radius: 0px 0px 10px 10px;
    }
    .card .box2 .button {
        width: 298px;
    }
}
